# /etc/init/jobvacancy.conf - JobVacancy Service

description "JobVacancy Service"

start on runlevel [2345]

setuid root
setgid root

respawn
respawn limit 3 30

script
exec /bin/bash <<'EOT'
  cd /opt/javawebapp
  exec java -Djava.security.egd=file:/dev/./urandom -Dserver.port=9000 -jar javawebapp.war --spring.profiles.active=prod
EOT
end script